{% extends "base/base.html" %}
{% load staticfiles %}

{% block content %}
<ul class="box-list">
    <li>
      <div class="box">
        <div class="border-bot">
          <div class="right-bot-corner">
            <div class="left-bot-corner">
              <div class="inner">
                <div class="box1">
                  <div class="inner">
                    <h4><b>Deportivo</b></h4>
                    <p>Eusus consequam vitae habitur amet nullam vitae condis phasellus sed justo. Orcivel mollis intesque eu sempor ridictum a non. <a href="#"><img src="images/arrow.gif" alt="" /></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="alt">
      <div class="box">
        <div class="border-bot">
          <div class="right-bot-corner">
            <div class="left-bot-corner">
              <div class="inner">
                <div class="box1">
                  <div class="inner">
                    <h4><b>Todo</b> Terreno</h4>
                    <p>Eusus consequam vitae habitur amet nullam vitae condis phasellus sed justo. Orcivel mollis intesque eu sempor ridictum a non. <a href="#"><img src="images/arrow.gif" alt="" /></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="last">
      <div class="box">
        <div class="border-bot">
          <div class="right-bot-corner">
            <div class="left-bot-corner">
              <div class="inner">
                <div class="box1">
                  <div class="inner">
                    <h4><b>Economico</b> </h4>
                    <p>Eusus consequam vitae habitur amet nullam vitae condis phasellus sed justo. Orcivel mollis intesque eu sempor ridictum a non. <a href="#"><img src="images/arrow.gif" alt="" /></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="indent">
    <div class="wrapper">
      <div class="col-1">
        <h3><b>Bienvenidos a</b> Car Advisory</h3>
        <p>Sitio web en donde encontraras a los mejores asesores de autos pre-compra al precio de su bolsillo.</p>
        <div class="img-box1"><img src="images/1page-img.jpg" alt="" />
          <p class="p0">Eusus consequam vitae habitur amet nullam vitae condis phasellus sed justo. Orcivel mollis intesque eu <a href="#">sempor ridictum</a> a non laorem lacingilla wisi. Nuncrhoncus eros maurien ulla facilis tor mauris tincidunt et vitae morbi. Velelit condimentes in laorem quis nullamcorper nam fauctor feugiat pellent.</p>
        </div>
        <p>Eusus consequam vitae habitur amet nullam vitae condis phasellus sed justo. Orcivel mollis intesque eu sempor <a href="#">ridictum a non</a> laorem lacingilla wisi.</p>
        <p class="p0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="col-2">
        <div class="box2">
          <div class="border-top">
            <div class="left-top-corner">
              <div class="right-top-corner">
                <div class="inner">
                  <h4><b>Latest</b> News</h4>
                  <ul class="news">
                    <li><a href="#">May 21, 2010</a>
                      <p>Lorem ipsum dolor sit amet, coisectur adipisicing elit, sed doeiusmo.</p>
                    </li>
                    <li><a href="#">May 12, 2010</a>
                      <p>Ut enim ad minim veniam, qnostrud exercitation ullamco.</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box3">
          <div class="right-bot-corner">
            <div class="left-bot-corner">
              <div class="inner">
                <h4><b>Login</b> Form</h4>
                <form action="#" id="login-form">
                  <fieldset>
                    <div class="field">
                      <label>Username:</label>
                      <input type="text" />
                    </div>
                    <div class="field">
                      <label>Password:</label>
                      <input type="password" />
                    </div>
                    <div class="field1">
                      <label class="extra">Remember Me:</label>
                      <input type="checkbox" class="extra" />
                      <a href="#"><em><b>Log In<span>Log In</span></b></em></a></div>
                    <ul>
                      <li><a href="#">Forgot your password?</a></li>
                      <li class="last"><a href="#">Register</a></li>
                    </ul>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}