{% extends "base/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="box">
    <div class="border-bot">
      <div class="right-bot-corner">
        <div class="left-bot-corner">
          <div class="inner">
            <div class="box1 alt">
              <div class="inner">
                <h4><b>Asesor</b> de Autos</h4>
                <p class="p0"> Sitio web para la busqueda de profesionales en el asesoramiento de autos, servicio post-venta de automobiles, de marcas de prestigio mundial tales como Mercedes-Benz, Freightliner, Western Star, Chrysler, Jeep, Dodge y RAM.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="indent">
    <div class="wrapper">
      <div class="col-1">
        <h3><b>Juan Lopez Gomez</b> </h3>
        <div class="img-box1"><img src="/static/images/asesores/1.jpg" alt="" />
          <p class="p0">Cotizar, atender, realizar seguimiento y cerrar la venta para contribuir al cumplimiento de la metas de ventas y a la satisfacción del cliente. </p>
        </div>
        <p>Ejecutar los procesos de ventas en coordinación con el área de soporte administrativo a fin de contribuir al cumplimiento de los procedimientos</p>
        <p class="p0">Otras actividades solicitadas por el jefe directo y que son parte de la naturaleza de su cargo..</p>
      </div>
      <div class="col-2">
        <div class="box2">
          <div class="border-top">
            <div class="left-top-corner">
              <div class="right-top-corner">
                <div class="inner">
                  <h4><b>Latest</b> News</h4>
                  <ul class="news">
                    <li><a href="#">May 21, 2010</a>
                      <p>Lorem ipsum dolor sit amet, coisectur adipisicing elit, sed doeiusmo.</p>
                    </li>
                    <li><a href="#">May 12, 2010</a>
                      <p>Ut enim ad minim veniam, qnostrud exercitation ullamco.</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box3">
          <div class="right-bot-corner">
            <div class="left-bot-corner">
              <div class="inner">
                <h4><b>Login</b> Form</h4>
                <form action="#" id="login-form">
                  <fieldset>
                    <div class="field">
                      <label>Username:</label>
                      <input type="text" />
                    </div>
                    <div class="field">
                      <label>Password:</label>
                      <input type="password" />
                    </div>
                    <div class="field1">
                      <label class="extra">Remember Me:</label>
                      <input type="checkbox" class="extra" />
                      <a href="#"><em><b>Log In<span>Log In</span></b></em></a></div>
                    <ul>
                      <li><a href="#">Forgot your password?</a></li>
                      <li class="last"><a href="#">Register</a></li>
                    </ul>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}